<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
        <title>GitWatch</title>
	
	<meta name="description" content="A live feed of Github repositories.">
        <meta name="viewport" content="width=1024, user-scalable=no">

        <link href="css/index.css" rel="stylesheet">
        <link href="css/counter.css" rel="stylesheet">
        <link href="css/chosen.css" rel="stylesheet">
</head>
<body>
        <div class="container-fluid">
                <div class="row-fluid">
                        <div class="span12">
                                <div class="well" style="height: 150px;">
                                        <h1>We'll put graphs here.</h1>
                                </div>
                        </div>
                </div>

                <div class="row-fluid">
                        <div class="span9 commit-log">
                                <div class="navbar">
                                        <div class="navbar-inner">
                                                <div class="container clearfix">
                                                        <ul class="nav">
                                                                <li><a href="/">Home</a></li>
                                                        </ul>
                                                        <ul class="nav pull-right">
                                                                <li><select data-placeholder="Filter commits" style="width: 350px; height: 30px; margin-top: 5px;" multiple id="filterselect">
                                                                                <option value="paddy">paddy</option>
                                                                                <option value="nick">nick</option>
                                                                                <option value="ubhacking">ubhacking</option>
                                                                                <option value="gitwatch">gitwatch</option>
                                                                                <option value="no_profanity">no profanity</option>
                                                                                <option value="only_profanity">only profanity</option>
                                                                </select></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                                <div id="commits">
                                {% ifequal page "admin" %}
                                {% if repos %}
                                {% for repo in repos %}
                                <div class="commit container-fluid">
                                        <div class="row-fluid">
                                                <div class="span1">
                                                        <img src="https://secure.gravatar.com/avatar/{{ repo.owner_hash }}?s=50" class="avatar" />
                                                </div>
                                                <div class="span11 details">
                                                        <p class="timestamp"><a href="/approve/{{ repo.key }}" class="btn btn-large approve-repo-button">Approve</a></p>
                                                        <p class="name">{{ repo.name }} ({{ repo.url }})</p>
                                                        <p class="message">{{ repo.description }}</p>
                                                </div>
                                        </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="commit container-fluid">
                                        <div class="row-fluid">
                                                <div class="span12 details">
                                                        <h2>No Unapproved Repos</h2>
                                                </div>
                                        </div>
                                </div>
                                {% endif %}
                                {% endifequal %}
                                {% ifequal page "main" %}
                                {% if commits %}
                                {% for commit in commits %}
                                <div class="commit container-fluid">
                                        <div class="row-fluid">
                                                <div class="span1">
                                                        <img src="https://secure.gravatar.com/avatar/{{ commit.author_hash }}?s=50" class="avatar" />
                                                </div>
                                                <div class="span11 details">
                                                        <p class="timestamp">{{ commit.timestamp }}</p>
                                                        <p class="name">{{ commit.author_name }} committed to {{ commit.repository.name }}</p>
                                                        <p class="message">{{ commit.summary }}</p>
                                                </div>
                                        </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="commit container-fluid">
                                        <div class="row-fluid">
                                                <div class="span12 details">
                                                        <h2>No Commits</h2>
                                                </div>
                                        </div>
                                </div>
                                {% endif %}
                                {% endifequal %}
                                </div>
                        </div>
                        <div class="span3">
                                <div class="statsbar">
                                        <h2>Commits</h2>
                                        <div class="counterwrapper">
                                                <div class="flip-counter" id="commit-counter"></div>
                                        </div>
                                        <h2>Curses</h2>
                                        <div class="counterwrapper">
                                                <div class="flip-counter" id="curses-counter"></div>
                                        </div>
                                        <h2>Most Active User</h2>
                                        <h3><span id="most-active-user">Paddy</span>: <span id="most-active-user-commits">100</span> Commits</h3>
                                        <h2>Most Active Repo</h2>
                                        <h3><span id="most-active-repo">GitWatch</span>: <span id="most-active-repo-commits">1000</span> Commits</h3>
                                        <h2>Least Active User</h2>
                                        <h3><span id="least-active-user">Paddy</span>: <span id="least-active-user-commits">10</span> Commits</h3>
                                        <h2>Least Active Repo</h2>
                                        <h3><span id="least-active-repo">UBHacking</span>: <span id="least-active-repo-commits">100</span> Commits</h3>
                                </div>
                        </div>
                </div>
        </div>
<!-- Grab CDN jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery-1.7.min.js"><\/script>')</script>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/js/flipcounter.min.js"></script>

<script>
function onOpened() {
        console.log("OPENED");
}

function onMessage(data) {
        console.log("Message: "+JSON.stringify(data));
        data = JSON.parse(data['data'])
        if(data["nature"] == "commit") {
                addCommit(data["author_hash"], data["timestamp"], data["author_name"], "<a href=\""+data["repo_url"]+"\">"+data["repo_name"]+"</a>", data["message"]);
        } else if(data["nature"] == "metrics") {
                commitCounter.incrementTo(data["global_commits"]);
                cursesCounter.incrementTo(data["global_curses"]);
        }
}

function onError(err) {
        console.log("Error: "+JSON.stringify(err));
}

function onClose() {
        console.log("CLOSED");
}

function addCommit(hash, timestamp, name, repo, message) {
        //if($("#commits .commit").length > 9) {
                $("#commits").css("overflow-y", "hidden");
                $("#commits").css("overflow-x", "visible");
        //} else {
        //        $("#commits").css("overflow", "visible");
        //}

        var h = $("#commits").height();

        var paddingTop = $("#commits").css("padding-top");
        paddingTop = paddingTop.substr(0, paddingTop.length - 2);
        var paddingBottom = $("#commits").css("padding-bottom");
        paddingBottom = paddingBottom.substr(0, paddingBottom.length - 2);

        //if($("#commits .commit").length > 9) {
        //        $("#commits").css("height", h);
        //}
        commitElem = "<div class=\"commit container-fluid\"><div class=\"row-fluid\"><div class=\"span1\"><img src=\"https://secure.gravatar.com/avatar/"+hash+"?s=50\" class=\"avatar\" /></div><div class=\"span11 details\"><p class=\"timestamp\">"+timestamp+"</p><p class=\"name\">"+name+" committed to "+repo+"</p><p class=\"message\">"+message+"</p></div></div</div>";
        $("#commits").prepend(commitElem);
        var heightDiff = $("#commits .commit:first").outerHeight() - $("#commits .commit:last").outerHeight();
        var oldMarginTop = $("#commits .commit:first").css("margin-top");

        $("#commits .commit:first").css("margin-top", 0 - $("#commits .commit:first").outerHeight());
        $("#commits .commit:first").css("position", "relative");
        $("#commits .commit:first").css("top", 0-paddingTop);
        $("#commits .commit:last").css("position", "relative");
        //$("#commits").animate({height: h + heightDiff}, 1500);

        $("#commits .commit:first").animate({top: 0}, 250, function() {
                $("#commits .commit:first").animate({marginTop: oldMarginTop}, 1000, function() {
                        $("#commits .commit:last").animate({top: paddingBottom}, 250, function() {
                                if($("#commits .commit").length > 10) {
                                        $("#commits .commit:last").remove();
                                }
                                $("#commits").css("height", "auto");
                                $("#commits").css("overflow", "visible");
                        });
                });
        });
}

var commitCounter;
var cursesCounter;

$(function() {
        $("#filterselect").chosen();
        $("#filterselect_chzn").css("margin-top", "5px");
        channel = new goog.appengine.Channel('{{ token }}');
        socket = channel.open();
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
        socket.onclose = onClose
        commitCounter = new flipCounter('commit-counter', {value:{% if global_commit_count %}{{ global_commit_count }}{% else %}0{% endif %}, inc:1, pace:600, auto:false});;
        cursesCounter = new flipCounter('curses-counter', {value:{% if global_curse_count %}{{ global_curse_count }}{% else %}0{% endif %}, inc:1, pace:600, auto:false});
        {% if repos %}
        $(".approve-repo-button").click(function(e) {
                e.preventDefault();
                $.post($(this).attr("href"));
        });
        {% endif %}
        
});
</script>

</body>
</html>
